body{
    font-family: monospace;
}
.rounded-box {
    background-color: gray;
    border-radius: 10px;
    padding: 20px;
    width: auto;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.title-box {
    background-color: white;
    border-radius: 10px;
    padding: auto;
    width: 100%;
    order: 1;
    text-align: center;
}

.manual-box {
    background-color: lightgray;
    border-radius: 10px;
    padding: auto;
    width: 70%;
    height: auto;
    order: 3;
    text-align: left;
}
.manualTitle-box{
    background-color: white;
    border-radius: 10px;
    padding: auto;
    text-align: center;
}
.ingrediance-box {
    background-color: lightgray;
    border-radius: 10px;
    padding: auto;
    width: 30%;
    order: 2;
    text-align: center;
}