.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.938965;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{width:65.300000px;}
._4{width:101.400000px;}
._3{width:137.940000px;}
._2{width:164.700000px;}
._5{width:168.060000px;}
._6{width:171.300000px;}
._1{width:254.640000px;}
.fc1{color:rgb(255,255,255);}
.fc0{color:rgb(0,0,0);}
.fs3{font-size:60.000000px;}
.fs0{font-size:80.000000px;}
.fs1{font-size:120.000000px;}
.fs2{font-size:122.000000px;}
.y0{bottom:0.000000px;}
.y36{bottom:13.526974px;}
.y34{bottom:13.857052px;}
.y14{bottom:41.852718px;}
.y13{bottom:171.742310px;}
.y26{bottom:180.411274px;}
.y12{bottom:207.742310px;}
.y25{bottom:231.479980px;}
.y11{bottom:243.742310px;}
.y24{bottom:267.479980px;}
.y10{bottom:279.742310px;}
.y23{bottom:303.479980px;}
.yf{bottom:315.742310px;}
.y22{bottom:339.479980px;}
.y33{bottom:342.463409px;}
.ye{bottom:351.742310px;}
.y32{bottom:366.463409px;}
.y21{bottom:375.479980px;}
.yd{bottom:387.742310px;}
.y31{bottom:390.463409px;}
.y20{bottom:411.479980px;}
.yc{bottom:423.742310px;}
.y1f{bottom:447.479980px;}
.yb{bottom:459.742310px;}
.y1e{bottom:483.479980px;}
.y30{bottom:486.463409px;}
.ya{bottom:495.742310px;}
.y2f{bottom:510.463409px;}
.y1d{bottom:519.479980px;}
.y9{bottom:531.742310px;}
.y1c{bottom:555.479980px;}
.y2e{bottom:558.463394px;}
.y8{bottom:567.742310px;}
.y2d{bottom:582.463394px;}
.y1b{bottom:591.378448px;}
.y7{bottom:603.742310px;}
.y1a{bottom:609.479980px;}
.y2c{bottom:630.463394px;}
.y6{bottom:639.742310px;}
.y19{bottom:645.479980px;}
.y2b{bottom:654.463394px;}
.y5{bottom:675.742310px;}
.y2a{bottom:678.463394px;}
.y18{bottom:681.479980px;}
.y4{bottom:711.742310px;}
.y17{bottom:717.378448px;}
.y29{bottom:726.463394px;}
.y16{bottom:735.479984px;}
.y3{bottom:747.742306px;}
.y28{bottom:750.463398px;}
.y35{bottom:761.012157px;}
.y27{bottom:774.463398px;}
.y15{bottom:806.733105px;}
.y2{bottom:817.318844px;}
.y1{bottom:959.434517px;}
.h5{height:43.710938px;}
.h2{height:58.281250px;}
.h3{height:87.421875px;}
.h4{height:88.878906px;}
.h0{height:1023.875061px;}
.h1{height:1024.000000px;}
.w0{width:1440.000000px;}
.x0{left:0.000000px;}
.x9{left:84.000000px;}
.x8{left:87.000000px;}
.x6{left:98.851494px;}
.x7{left:125.602509px;}
.x5{left:373.000000px;}
.x1{left:829.000000px;}
.x2{left:1173.688721px;}
.x3{left:1199.000000px;}
.x4{left:1225.325317px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{width:87.066667pt;}
._4{width:135.200000pt;}
._3{width:183.920000pt;}
._2{width:219.600000pt;}
._5{width:224.080000pt;}
._6{width:228.400000pt;}
._1{width:339.520000pt;}
.fs3{font-size:80.000000pt;}
.fs0{font-size:106.666667pt;}
.fs1{font-size:160.000000pt;}
.fs2{font-size:162.666667pt;}
.y0{bottom:0.000000pt;}
.y36{bottom:18.035965pt;}
.y34{bottom:18.476069pt;}
.y14{bottom:55.803624pt;}
.y13{bottom:228.989746pt;}
.y26{bottom:240.548365pt;}
.y12{bottom:276.989746pt;}
.y25{bottom:308.639974pt;}
.y11{bottom:324.989746pt;}
.y24{bottom:356.639974pt;}
.y10{bottom:372.989746pt;}
.y23{bottom:404.639974pt;}
.yf{bottom:420.989746pt;}
.y22{bottom:452.639974pt;}
.y33{bottom:456.617879pt;}
.ye{bottom:468.989746pt;}
.y32{bottom:488.617879pt;}
.y21{bottom:500.639974pt;}
.yd{bottom:516.989746pt;}
.y31{bottom:520.617879pt;}
.y20{bottom:548.639974pt;}
.yc{bottom:564.989746pt;}
.y1f{bottom:596.639974pt;}
.yb{bottom:612.989746pt;}
.y1e{bottom:644.639974pt;}
.y30{bottom:648.617879pt;}
.ya{bottom:660.989746pt;}
.y2f{bottom:680.617879pt;}
.y1d{bottom:692.639974pt;}
.y9{bottom:708.989746pt;}
.y1c{bottom:740.639974pt;}
.y2e{bottom:744.617859pt;}
.y8{bottom:756.989746pt;}
.y2d{bottom:776.617859pt;}
.y1b{bottom:788.504598pt;}
.y7{bottom:804.989746pt;}
.y1a{bottom:812.639974pt;}
.y2c{bottom:840.617859pt;}
.y6{bottom:852.989746pt;}
.y19{bottom:860.639974pt;}
.y2b{bottom:872.617859pt;}
.y5{bottom:900.989746pt;}
.y2a{bottom:904.617859pt;}
.y18{bottom:908.639974pt;}
.y4{bottom:948.989746pt;}
.y17{bottom:956.504598pt;}
.y29{bottom:968.617859pt;}
.y16{bottom:980.639979pt;}
.y3{bottom:996.989741pt;}
.y28{bottom:1000.617864pt;}
.y35{bottom:1014.682877pt;}
.y27{bottom:1032.617864pt;}
.y15{bottom:1075.644140pt;}
.y2{bottom:1089.758458pt;}
.y1{bottom:1279.246023pt;}
.h5{height:58.281250pt;}
.h2{height:77.708333pt;}
.h3{height:116.562500pt;}
.h4{height:118.505208pt;}
.h0{height:1365.166748pt;}
.h1{height:1365.333333pt;}
.w0{width:1920.000000pt;}
.x0{left:0.000000pt;}
.x9{left:112.000000pt;}
.x8{left:116.000000pt;}
.x6{left:131.801992pt;}
.x7{left:167.470011pt;}
.x5{left:497.333333pt;}
.x1{left:1105.333333pt;}
.x2{left:1564.918294pt;}
.x3{left:1598.666667pt;}
.x4{left:1633.767090pt;}
}
